*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

button{
    cursor: pointer;
}
@font-face {
    font-family: 'mediaeval';
    src: url(./PorSiempreGótica.ttf) format('truetype');
    font-weight: normal;
    font-style: normal
}

:root{
    --color-primary: #000000;
    --color-secondary: #F3AE45;
    --color-third: #D3C8B8;
    --color-fourth: #f8c7bb;
    --padding-standard: 1vw;
}

html, body{
    scroll-behavior: smooth;
    font-family: "mediaeval";
}


body{
    position: relative;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* Estilo para o trilho da barra de rolagem */
body::-webkit-scrollbar-track {
    background: var(--color-third);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 10px;
    border: 2px solid var(--color-third);
}
body::-webkit-scrollbar-thumb:active {
    background-color: var(--color-fourth); 
}
  

h1{
    font-size: 64px;
}

header{
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: var(--color-primary);
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: var(--padding-standard);
    z-index: 1;
}
header ul{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

main section{
    padding: var(--padding-standard);
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}
main section p {
    color: var(--color-third);
    font-size: 36px;
}
main section h2 {
    font-size: 34px;
}


.inicio{
    padding-top: 200px;
}

.inicio div{
    justify-content: space-between;
    height: 100%;
    width: 60%;
}
.inicio h2{
    font-size: 96px;
}
.inicio p{
    font-size: 48px;
    color: var(--color-third);
}
.inicio img{
    height: 100%;
    z-index: 2;
}

.esquerda{
    height: 100%;
    width: 50%;
    padding: var(--padding-standard);
    padding-right: 20px;
}
.direita{
    height: 100%;
    width: 50%;
    padding: var(--padding-standard);
    padding-left: 20px;
}


.politica .direita div{
    display: flex;
}
.politica .direita img{
    width: 100px;
    height: 100px;
    border: 1px solid var(--color-secondary);
}

.epistemologia .direita{
    position: relative;
    color: var(--color-third);
}

.bola{
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}
#crencas{
    border: 2px solid #00ff08b3;
}
#verdades{
    border: 2px solid #ff0000b3;
    left: 40;
}


.ativicao{
    font-size: 48px;
    background-color: transparent;
    border: 1px solid var(--color-secondary); 
    padding: 5px;
    padding-inline: 10px;
    color: var(--color-third);
}

.linha{
    position: absolute;
    left: calc(50vw - 2px);
    top: calc(100vh - 100px);
    width: 4px;
    height: 400vh;
    background-color: var(--color-secondary);
}
